<section class="hero is-dark is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-inverted is-rounded">
              <span class="icon">
                <fa-icon [icon]="faWarehouse"></fa-icon>
              </span>
              <span>Products</span>
            </a>
            <span class="navbar-item">
              <a class="button is-dark is-inverted">
                <span class="icon">
                  <fa-icon [icon]="faShoppingCart"></fa-icon>
                </span>
                <span>Cart</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Village Shop
      </p>
    </div>
  </div>
</section>
<section class="section sale">
  <h1 class="title is-2">On Sale this Week</h1>
  <div class="columns is-desktop">
    <div class="column">
      <div class="card" data-label="-20%">
        <div class="card-image" >
          <img class="img" src="../assets/appenzeller.jpg" alt="">
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Apenzeller Käse</p>
              <p class="subtitle is-6 has-text-info">Milchprodukt</p>
              <div class="content">
                <h1 class="title">CHF 9.90</h1>
                <button class="button is-info to-cart">
                  <span class="icon">
                    <fa-icon [icon]="faCartPlus"></fa-icon>
                  </span>
                  <span>To Cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" data-label="-12%">
        <div class="card-image" >
          <img class="img" src="../assets/nektarinen.jpg" alt="">
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Nektarine</p>
              <p class="subtitle is-6 has-text-info">Früchte</p>
              <div class="content">
                <h1 class="title">CHF 0.90</h1>
                <button class="button is-info to-cart">
                  <span class="icon">
                    <fa-icon [icon]="faCartPlus"></fa-icon>
                  </span>
                  <span>To Cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" data-label="-33%">
        <div class="card-image" >
          <img class="img" src="../assets/eier.jpg" alt="">
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Eier aus Freihaltung</p>
              <p class="subtitle is-6 has-text-info">Tierprodukt</p>
              <div class="content">
                <h1 class="title">CHF 15.50</h1>
                <button class="button is-info to-cart">
                  <span class="icon">
                    <fa-icon [icon]="faCartPlus"></fa-icon>
                  </span>
                  <span>To Cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" data-label="-50%">
        <div class="card-image" >
          <img class="img" src="../assets/icedtea.jpg" alt="">
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Arizona Ice Tea</p>
              <p class="subtitle is-6 has-text-info">Getränk</p>
              <div class="content">
                <h1 class="title">CHF 4.50</h1>
                <button class="button is-info to-cart">
                  <span class="icon">
                    <fa-icon [icon]="faCartPlus"></fa-icon>
                  </span>
                  <span>To Cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center margin-top-30">
    <button>Load more</button>
  </div>
</section>