@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');


.card{
  position : relative;
}

.card .card__container{
  position: relative;
}

.card .card__header{
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.card .card__body{
  font-family: 'Roboto', sans-serif;
}

.card::after{
  position: absolute;
  content: attr(data-label);
  top: 11px;
  right: -14px;
  padding: 0.5rem;
  width: 5rem;
  border-radius: 4px;
  background: orange;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

.img{
    height: 250px;
    margin-top: 30px;
}

.card-image{
    text-align: center;
}

.media-content{
    margin-top: 20px;
    padding-left: 20px;
}

body{
    overflow: hidden;
}

.content{
    display: flex;
}

.to-cart{
    margin-left: 25%;
}

.is-discounted{
    margin-left: 5px;
}

.text-center{
    text-align: center;
}

.margin-top-30{
    margin-top: 30px;
}

.card{
    position: relative;
}

.button{
    position: relative;
}

.badge{
    position: relative;
}

